.elementor-3485 .elementor-element.elementor-element-3ff459cc:not(.elementor-motion-effects-element-type-background),
.elementor-3485 .elementor-element.elementor-element-3ff459cc>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fafafa
}

.elementor-3485 .elementor-element.elementor-element-3ff459cc {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 135px 0 0
}

.elementor-3485 .elementor-element.elementor-element-3ff459cc>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-3485 .elementor-element.elementor-element-69db5688>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-3485 .elementor-element.elementor-element-69db5688>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-50207109>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-50207109 {
    width: var( --container-widget-width, 276px);
    max-width: 276px;
    --container-widget-width: 276px;
    --container-widget-flex-grow: 0
}

.elementor-3485 .elementor-element.elementor-element-734a1242>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-3485 .elementor-element.elementor-element-734a1242>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-6bd7fc7a>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-6bd7fc7a {
    width: var( --container-widget-width, 276px);
    max-width: 276px;
    --container-widget-width: 276px;
    --container-widget-flex-grow: 0
}

.elementor-3485 .elementor-element.elementor-element-24be4c37>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-3485 .elementor-element.elementor-element-24be4c37>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-27cd48d9>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-27cd48d9 {
    width: var( --container-widget-width, 276px);
    max-width: 276px;
    --container-widget-width: 276px;
    --container-widget-flex-grow: 0
}

.elementor-3485 .elementor-element.elementor-element-f3f2a34>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-3485 .elementor-element.elementor-element-f3f2a34>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-78745f09>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-78745f09 {
    width: var( --container-widget-width, 276px);
    max-width: 276px;
    --container-widget-width: 276px;
    --container-widget-flex-grow: 0
}

.elementor-3485 .elementor-element.elementor-element-32d1d3f:not(.elementor-motion-effects-element-type-background),
.elementor-3485 .elementor-element.elementor-element-32d1d3f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fafafa
}

.elementor-3485 .elementor-element.elementor-element-32d1d3f {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 67px 0 127px
}

.elementor-3485 .elementor-element.elementor-element-32d1d3f>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-3485 .elementor-element.elementor-element-3845df9>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-3485 .elementor-element.elementor-element-3845df9>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-691582c>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-691582c {
    width: var( --container-widget-width, 276px);
    max-width: 276px;
    --container-widget-width: 276px;
    --container-widget-flex-grow: 0
}

.elementor-3485 .elementor-element.elementor-element-15ed168>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-3485 .elementor-element.elementor-element-15ed168>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-a080adb>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-a080adb {
    width: var( --container-widget-width, 276px);
    max-width: 276px;
    --container-widget-width: 276px;
    --container-widget-flex-grow: 0
}

.elementor-3485 .elementor-element.elementor-element-21007b2>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-3485 .elementor-element.elementor-element-21007b2>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-9f0f523>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-9f0f523 {
    width: var( --container-widget-width, 276px);
    max-width: 276px;
    --container-widget-width: 276px;
    --container-widget-flex-grow: 0
}

.elementor-3485 .elementor-element.elementor-element-41d18ff>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-3485 .elementor-element.elementor-element-41d18ff>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-1995118>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-1995118 {
    width: var( --container-widget-width, 276px);
    max-width: 276px;
    --container-widget-width: 276px;
    --container-widget-flex-grow: 0
}

.elementor-3485 .elementor-element.elementor-element-290053b1>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-3485 .elementor-element.elementor-element-290053b1 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 135px 0 0
}

.elementor-3485 .elementor-element.elementor-element-74ccf9f6>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-3485 .elementor-element.elementor-element-74ccf9f6>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-2e6e7abb>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-7fb08078>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-3485 .elementor-element.elementor-element-7fb08078>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 0% 0% 13%
}

.elementor-3485 .elementor-element.elementor-element-69376a75>.elementor-widget-container {
    margin: 0;
    padding: 0 0 22px
}

.elementor-3485 .elementor-element.elementor-element-69376a75 {
    width: var( --container-widget-width, 577px);
    max-width: 577px;
    --container-widget-width: 577px;
    --container-widget-flex-grow: 0
}

.elementor-3485 .elementor-element.elementor-element-15a9e0ab>.elementor-widget-container {
    margin: 0;
    padding: 0 0 18px
}

.elementor-3485 .elementor-element.elementor-element-15a9e0ab {
    width: var( --container-widget-width, 469px);
    max-width: 469px;
    --container-widget-width: 469px;
    --container-widget-flex-grow: 0
}

.elementor-3485 .elementor-element.elementor-element-7e464f2a>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-7e464f2a {
    width: var( --container-widget-width, 469px);
    max-width: 469px;
    --container-widget-width: 469px;
    --container-widget-flex-grow: 0
}

.elementor-3485 .elementor-element.elementor-element-27b0573>.elementor-widget-container {
    margin: 0;
    padding: 32px 0 0
}

.elementor-3485 .elementor-element.elementor-element-366eae19>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-3485 .elementor-element.elementor-element-366eae19 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 135px 0 120px
}

.elementor-3485 .elementor-element.elementor-element-588116b>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-3485 .elementor-element.elementor-element-588116b>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-2536dd9f>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-2536dd9f {
    width: var( --container-widget-width, 441px);
    max-width: 441px;
    --container-widget-width: 441px;
    --container-widget-flex-grow: 0
}

.elementor-3485 .elementor-element.elementor-element-11df4b93>.elementor-widget-container {
    margin: 0;
    padding: 32px 0 0
}

.elementor-3485 .elementor-element.elementor-element-45c91d0a>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-3485 .elementor-element.elementor-element-45c91d0a>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-7748501:not(.elementor-motion-effects-element-type-background),
.elementor-3485 .elementor-element.elementor-element-7748501>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f7e4d6
}

.elementor-3485 .elementor-element.elementor-element-7748501 {
    border-style: solid;
    border-width: 15px 0 0;
    border-color: #fff;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 96px 0 100px
}

.elementor-3485 .elementor-element.elementor-element-7748501>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-3485 .elementor-element.elementor-element-734d6ba>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-3485 .elementor-element.elementor-element-734d6ba>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 31%
}

.elementor-3485 .elementor-element.elementor-element-5053c316>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-3485 .elementor-element.elementor-element-84c4f95>.elementor-widget-container {
    margin: 0;
    padding: 13px 0 0
}

@media(min-width:768px) {
    .elementor-3485 .elementor-element.elementor-element-74ccf9f6 {
        width: 51%
    }
    .elementor-3485 .elementor-element.elementor-element-7fb08078 {
        width: 49%
    }
    .elementor-3485 .elementor-element.elementor-element-588116b {
        width: 49%
    }
    .elementor-3485 .elementor-element.elementor-element-45c91d0a {
        width: 51%
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-3485 .elementor-element.elementor-element-69db5688 {
        width: 50%
    }
    .elementor-3485 .elementor-element.elementor-element-734a1242 {
        width: 50%
    }
    .elementor-3485 .elementor-element.elementor-element-24be4c37 {
        width: 50%
    }
    .elementor-3485 .elementor-element.elementor-element-f3f2a34 {
        width: 50%
    }
    .elementor-3485 .elementor-element.elementor-element-3845df9 {
        width: 50%
    }
    .elementor-3485 .elementor-element.elementor-element-15ed168 {
        width: 50%
    }
    .elementor-3485 .elementor-element.elementor-element-21007b2 {
        width: 50%
    }
    .elementor-3485 .elementor-element.elementor-element-41d18ff {
        width: 50%
    }
    .elementor-3485 .elementor-element.elementor-element-74ccf9f6 {
        width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-7fb08078 {
        width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-588116b {
        width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-45c91d0a {
        width: 100%
    }
}

@media(max-width:1024px) {
    .elementor-3485 .elementor-element.elementor-element-69db5688>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-3485 .elementor-element.elementor-element-69db5688>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 42px
    }
    .elementor-3485 .elementor-element.elementor-element-734a1242>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-3485 .elementor-element.elementor-element-734a1242>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 42px
    }
    .elementor-3485 .elementor-element.elementor-element-32d1d3f {
        margin-top: 0;
        margin-bottom: 0;
        padding: 42px 0 127px
    }
    .elementor-3485 .elementor-element.elementor-element-3845df9>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-3485 .elementor-element.elementor-element-3845df9>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 42px
    }
    .elementor-3485 .elementor-element.elementor-element-15ed168>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-3485 .elementor-element.elementor-element-15ed168>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 42px
    }
    .elementor-3485 .elementor-element.elementor-element-290053b1 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 135px 0 0
    }
    .elementor-3485 .elementor-element.elementor-element-74ccf9f6>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-3485 .elementor-element.elementor-element-74ccf9f6>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 65px
    }
    .elementor-3485 .elementor-element.elementor-element-7fb08078>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-3485 .elementor-element.elementor-element-7fb08078>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }
    .elementor-3485 .elementor-element.elementor-element-15a9e0ab>.elementor-widget-container {
        margin: 0;
        padding: 0 0 18px
    }
    .elementor-3485 .elementor-element.elementor-element-15a9e0ab {
        width: 100%;
        max-width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-7e464f2a {
        width: 100%;
        max-width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-366eae19 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 130px 0 120px
    }
    .elementor-3485 .elementor-element.elementor-element-588116b>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-3485 .elementor-element.elementor-element-588116b>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }
    .elementor-3485 .elementor-element.elementor-element-2536dd9f>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-3485 .elementor-element.elementor-element-2536dd9f {
        width: 100%;
        max-width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-45c91d0a>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-3485 .elementor-element.elementor-element-45c91d0a>.elementor-element-populated>.elementor-widget-wrap {
        padding: 70px 0 0
    }
    .elementor-3485 .elementor-element.elementor-element-734d6ba>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0% 10%
    }
}

@media(max-width:767px) {
    .elementor-3485 .elementor-element.elementor-element-69db5688 {
        width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-50207109>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-3485 .elementor-element.elementor-element-50207109 {
        width: 100%;
        max-width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-734a1242 {
        width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-6bd7fc7a>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-3485 .elementor-element.elementor-element-6bd7fc7a {
        width: 100%;
        max-width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-24be4c37 {
        width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-24be4c37>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-3485 .elementor-element.elementor-element-24be4c37>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 42px
    }
    .elementor-3485 .elementor-element.elementor-element-27cd48d9>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-3485 .elementor-element.elementor-element-27cd48d9 {
        width: 100%;
        max-width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-f3f2a34 {
        width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-78745f09>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-3485 .elementor-element.elementor-element-78745f09 {
        width: 100%;
        max-width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-3845df9 {
        width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-691582c>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-3485 .elementor-element.elementor-element-691582c {
        width: 100%;
        max-width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-15ed168 {
        width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-a080adb>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-3485 .elementor-element.elementor-element-a080adb {
        width: 100%;
        max-width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-21007b2 {
        width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-21007b2>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-3485 .elementor-element.elementor-element-21007b2>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 42px
    }
    .elementor-3485 .elementor-element.elementor-element-9f0f523>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-3485 .elementor-element.elementor-element-9f0f523 {
        width: 100%;
        max-width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-41d18ff {
        width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-1995118>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-3485 .elementor-element.elementor-element-1995118 {
        width: 100%;
        max-width: 100%
    }
    .elementor-3485 .elementor-element.elementor-element-74ccf9f6>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-3485 .elementor-element.elementor-element-74ccf9f6>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 65px
    }
    .elementor-3485 .elementor-element.elementor-element-7fb08078>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-3485 .elementor-element.elementor-element-7fb08078>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }
    .elementor-3485 .elementor-element.elementor-element-588116b>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-3485 .elementor-element.elementor-element-45c91d0a>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-3485 .elementor-element.elementor-element-45c91d0a>.elementor-element-populated>.elementor-widget-wrap {
        padding: 70px 0 0
    }
    .elementor-3485 .elementor-element.elementor-element-734d6ba>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }
}