.elementor-2522 .elementor-element.elementor-element-67b4246 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-2522 .elementor-element.elementor-element-fd1da28>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-2522 .elementor-element.elementor-element-fd1da28>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0px 0px 0px 0px;
}