.elementor-2768 .elementor-element.elementor-element-c18abf4>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-2768 .elementor-element.elementor-element-c18abf4 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0
}

.elementor-2768 .elementor-element.elementor-element-ea8ae87>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-2768 .elementor-element.elementor-element-ea8ae87>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-2768 .elementor-element.elementor-element-ea8ae87>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-2768 .elementor-element.elementor-element-d809663 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 1px 0 0
}

.elementor-2768 .elementor-element.elementor-element-038e73d>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-2768 .elementor-element.elementor-element-038e73d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-2768 .elementor-element.elementor-element-18b1ea7>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2768 .elementor-element.elementor-element-18b1ea7 {
    width: var( --container-widget-width, 276px);
    max-width: 276px;
    --container-widget-width: 276px;
    --container-widget-flex-grow: 0
}

.elementor-2768 .elementor-element.elementor-element-efcfa2b>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-2768 .elementor-element.elementor-element-efcfa2b>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-2768 .elementor-element.elementor-element-693ed07>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2768 .elementor-element.elementor-element-693ed07 {
    width: var( --container-widget-width, 276px);
    max-width: 276px;
    --container-widget-width: 276px;
    --container-widget-flex-grow: 0
}

.elementor-2768 .elementor-element.elementor-element-f3336e3>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-2768 .elementor-element.elementor-element-f3336e3>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-2768 .elementor-element.elementor-element-bce28b1>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2768 .elementor-element.elementor-element-bce28b1 {
    width: var( --container-widget-width, 276px);
    max-width: 276px;
    --container-widget-width: 276px;
    --container-widget-flex-grow: 0
}

.elementor-2768 .elementor-element.elementor-element-9aa39f0>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-2768 .elementor-element.elementor-element-9aa39f0>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-2768 .elementor-element.elementor-element-f4bafa5>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2768 .elementor-element.elementor-element-f4bafa5 {
    width: var( --container-widget-width, 276px);
    max-width: 276px;
    --container-widget-width: 276px;
    --container-widget-flex-grow: 0
}

.elementor-2768 .elementor-element.elementor-element-16cca0f>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-2768 .elementor-element.elementor-element-16cca0f {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0% 0% 18%
}

.elementor-2768 .elementor-element.elementor-element-e3d939f>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-2768 .elementor-element.elementor-element-e3d939f>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 0% 0% 14%
}

.elementor-2768 .elementor-element.elementor-element-5aa09b5>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2768 .elementor-element.elementor-element-2870152>.elementor-element-populated {
    margin: 187px 0 158px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-2768 .elementor-element.elementor-element-2870152>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 0% 0% 14%
}

.elementor-2768 .elementor-element.elementor-element-a802a1b>.elementor-widget-container {
    margin: 0;
    padding: 0 0 22px
}

.elementor-2768 .elementor-element.elementor-element-a802a1b {
    width: var( --container-widget-width, 468px);
    max-width: 468px;
    --container-widget-width: 468px;
    --container-widget-flex-grow: 0
}

.elementor-2768 .elementor-element.elementor-element-81d2fc0>.elementor-widget-container {
    margin: 0;
    padding: 0 0 18px
}

.elementor-2768 .elementor-element.elementor-element-81d2fc0 {
    width: var( --container-widget-width, 469px);
    max-width: 469px;
    --container-widget-width: 469px;
    --container-widget-flex-grow: 0
}

.elementor-2768 .elementor-element.elementor-element-96b2177>.elementor-widget-container {
    margin: 0;
    padding: 0 0 18px
}

.elementor-2768 .elementor-element.elementor-element-96b2177 {
    width: var( --container-widget-width, 469px);
    max-width: 469px;
    --container-widget-width: 469px;
    --container-widget-flex-grow: 0
}

.elementor-2768 .elementor-element.elementor-element-5c55ce9>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2768 .elementor-element.elementor-element-5c55ce9 {
    width: var( --container-widget-width, 469px);
    max-width: 469px;
    --container-widget-width: 469px;
    --container-widget-flex-grow: 0
}

.elementor-2768 .elementor-element.elementor-element-47ba809:not(.elementor-motion-effects-element-type-background),
.elementor-2768 .elementor-element.elementor-element-47ba809>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f7e4d6
}

.elementor-2768 .elementor-element.elementor-element-47ba809 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 121px
}

.elementor-2768 .elementor-element.elementor-element-47ba809>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-2768 .elementor-element.elementor-element-8bc8627.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center
}

.elementor-2768 .elementor-element.elementor-element-8bc8627>.elementor-element-populated {
    margin: -25% 0% 0%;
    --e-column-margin-right: 0%;
    --e-column-margin-left: 0%
}

.elementor-2768 .elementor-element.elementor-element-8bc8627>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-2768 .elementor-element.elementor-element-5804534>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2768 .elementor-element.elementor-element-5804534 {
    width: auto;
    max-width: auto
}

.elementor-2768 .elementor-element.elementor-element-b2b4c64>.elementor-widget-container {
    margin: 0;
    padding: 120px 0 0
}

.elementor-2768 .elementor-element.elementor-element-d653d8b>.elementor-widget-container {
    margin: 0;
    padding: 3px 0 0
}

.elementor-2768 .elementor-element.elementor-element-d653d8b {
    width: auto;
    max-width: auto
}

.elementor-2768 .elementor-element.elementor-element-f1b17e1>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-2768 .elementor-element.elementor-element-f1b17e1 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 100px 0 140px
}

.elementor-2768 .elementor-element.elementor-element-98ffe86>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-2768 .elementor-element.elementor-element-98ffe86>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 7% 0% 0%
}

.elementor-2768 .elementor-element.elementor-element-cbd5c74>.elementor-widget-container {
    margin: 0;
    padding: 0 0 25px
}

.elementor-2768 .elementor-element.elementor-element-cbd5c74 {
    width: var( --container-widget-width, 525px);
    max-width: 525px;
    --container-widget-width: 525px;
    --container-widget-flex-grow: 0
}

.elementor-2768 .elementor-element.elementor-element-be0f29d>.elementor-widget-container {
    margin: 0 0 6px;
    padding: 0% 3% 0% 0%
}

.elementor-2768 .elementor-element.elementor-element-0656ace>.elementor-widget-container {
    margin: 0 0 6px;
    padding: 0% 3% 0% 0%
}

.elementor-2768 .elementor-element.elementor-element-0a5a5f6>.elementor-widget-container {
    margin: 0 0 6px;
    padding: 0% 3% 0% 0%
}

.elementor-2768 .elementor-element.elementor-element-a090e15>.elementor-widget-container {
    margin: 0;
    padding: 0% 3% 0% 0%
}

.elementor-2768 .elementor-element.elementor-element-5fc939e>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-2768 .elementor-element.elementor-element-5fc939e>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 17% 0% 0%
}

.elementor-2768 .elementor-element.elementor-element-c46f447>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-2768 .elementor-element.elementor-element-cb67971 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 0 95px
}

.elementor-2768 .elementor-element.elementor-element-604dc6f>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-2768 .elementor-element.elementor-element-604dc6f>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-2768 .elementor-element.elementor-element-64e1599>.elementor-widget-container {
    margin: 0;
    padding: 0
}

@media(min-width:768px) {
    .elementor-2768 .elementor-element.elementor-element-e3d939f {
        width: 57%
    }
    .elementor-2768 .elementor-element.elementor-element-2870152 {
        width: 43%
    }
    .elementor-2768 .elementor-element.elementor-element-98ffe86 {
        width: 41%
    }
    .elementor-2768 .elementor-element.elementor-element-5fc939e {
        width: 59%
    }
}

@media(max-width:1024px) {
    .elementor-2768 .elementor-element.elementor-element-c18abf4 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0
    }
    .elementor-2768 .elementor-element.elementor-element-038e73d>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-2768 .elementor-element.elementor-element-038e73d>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 42px
    }
    .elementor-2768 .elementor-element.elementor-element-efcfa2b>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-2768 .elementor-element.elementor-element-efcfa2b>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 42px
    }
    .elementor-2768 .elementor-element.elementor-element-16cca0f {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 0 165px
    }
    .elementor-2768 .elementor-element.elementor-element-e3d939f>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-2768 .elementor-element.elementor-element-e3d939f>.elementor-element-populated>.elementor-widget-wrap {
        padding: 127px 0 65px
    }
    .elementor-2768 .elementor-element.elementor-element-2870152>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-2768 .elementor-element.elementor-element-2870152>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 127px
    }
    .elementor-2768 .elementor-element.elementor-element-81d2fc0>.elementor-widget-container {
        margin: 0;
        padding: 0 0 18px
    }
    .elementor-2768 .elementor-element.elementor-element-81d2fc0 {
        width: 100%;
        max-width: 100%
    }
    .elementor-2768 .elementor-element.elementor-element-96b2177 {
        width: 100%;
        max-width: 100%
    }
    .elementor-2768 .elementor-element.elementor-element-5c55ce9 {
        width: 100%;
        max-width: 100%
    }
    .elementor-2768 .elementor-element.elementor-element-8bc8627>.elementor-element-populated {
        margin: -25% 0% 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%
    }
    .elementor-2768 .elementor-element.elementor-element-8bc8627>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }
    .elementor-2768 .elementor-element.elementor-element-f1b17e1 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 130px 0 116px
    }
    .elementor-2768 .elementor-element.elementor-element-98ffe86>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-2768 .elementor-element.elementor-element-98ffe86>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }
    .elementor-2768 .elementor-element.elementor-element-cbd5c74>.elementor-widget-container {
        margin: 0;
        padding: 0 0 25px
    }
    .elementor-2768 .elementor-element.elementor-element-cbd5c74 {
        width: 100%;
        max-width: 100%
    }
    .elementor-2768 .elementor-element.elementor-element-be0f29d>.elementor-widget-container {
        margin: 0;
        padding: 0 0 6px
    }
    .elementor-2768 .elementor-element.elementor-element-0656ace>.elementor-widget-container {
        margin: 0;
        padding: 0 0 6px
    }
    .elementor-2768 .elementor-element.elementor-element-0a5a5f6>.elementor-widget-container {
        margin: 0;
        padding: 0 0 6px
    }
    .elementor-2768 .elementor-element.elementor-element-a090e15>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-2768 .elementor-element.elementor-element-5fc939e>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-2768 .elementor-element.elementor-element-5fc939e>.elementor-element-populated>.elementor-widget-wrap {
        padding: 70px 0 0
    }
    .elementor-2768 .elementor-element.elementor-element-c46f447>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-2768 .elementor-element.elementor-element-cb67971 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 0 54px
    }
}

@media(max-width:767px) {
    .elementor-2768 .elementor-element.elementor-element-c18abf4 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 0 0 121px
    }
    .elementor-2768 .elementor-element.elementor-element-038e73d {
        width: 100%
    }
    .elementor-2768 .elementor-element.elementor-element-18b1ea7>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-2768 .elementor-element.elementor-element-18b1ea7 {
        width: 100%;
        max-width: 100%
    }
    .elementor-2768 .elementor-element.elementor-element-efcfa2b {
        width: 100%
    }
    .elementor-2768 .elementor-element.elementor-element-693ed07>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-2768 .elementor-element.elementor-element-693ed07 {
        width: 100%;
        max-width: 100%
    }
    .elementor-2768 .elementor-element.elementor-element-f3336e3 {
        width: 100%
    }
    .elementor-2768 .elementor-element.elementor-element-f3336e3>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-2768 .elementor-element.elementor-element-f3336e3>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 42px
    }
    .elementor-2768 .elementor-element.elementor-element-bce28b1>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-2768 .elementor-element.elementor-element-bce28b1 {
        width: 100%;
        max-width: 100%
    }
    .elementor-2768 .elementor-element.elementor-element-9aa39f0 {
        width: 100%
    }
    .elementor-2768 .elementor-element.elementor-element-f4bafa5>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-2768 .elementor-element.elementor-element-f4bafa5 {
        width: 100%;
        max-width: 100%
    }
    .elementor-2768 .elementor-element.elementor-element-e3d939f>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-2768 .elementor-element.elementor-element-e3d939f>.elementor-element-populated>.elementor-widget-wrap {
        padding: 127px 0 65px
    }
    .elementor-2768 .elementor-element.elementor-element-2870152>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-2768 .elementor-element.elementor-element-2870152>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0 0 38px
    }
    .elementor-2768 .elementor-element.elementor-element-f1b17e1 {
        margin-top: 0;
        margin-bottom: 0;
        padding: 130px 0 90px
    }
    .elementor-2768 .elementor-element.elementor-element-98ffe86>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-2768 .elementor-element.elementor-element-98ffe86>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }
    .elementor-2768 .elementor-element.elementor-element-5fc939e>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-2768 .elementor-element.elementor-element-5fc939e>.elementor-element-populated>.elementor-widget-wrap {
        padding: 70px 0 0
    }
    .elementor-2768 .elementor-element.elementor-element-c46f447>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-2768 .elementor-element.elementor-element-038e73d {
        width: 50%
    }
    .elementor-2768 .elementor-element.elementor-element-efcfa2b {
        width: 50%
    }
    .elementor-2768 .elementor-element.elementor-element-f3336e3 {
        width: 50%
    }
    .elementor-2768 .elementor-element.elementor-element-9aa39f0 {
        width: 50%
    }
    .elementor-2768 .elementor-element.elementor-element-e3d939f {
        width: 100%
    }
    .elementor-2768 .elementor-element.elementor-element-2870152 {
        width: 100%
    }
    .elementor-2768 .elementor-element.elementor-element-98ffe86 {
        width: 100%
    }
    .elementor-2768 .elementor-element.elementor-element-5fc939e {
        width: 100%
    }
}