.elementor-3302 .elementor-element.elementor-element-7e67afa>.elementor-container>.elementor-row>.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-3302 .elementor-element.elementor-element-7e67afa {
    margin-top: 0;
    margin-bottom: 0;
    padding: 135px 0 120px
}

.elementor-3302 .elementor-element.elementor-element-620d450>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-3302 .elementor-element.elementor-element-620d450>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-3302 .elementor-element.elementor-element-1349650>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-3302 .elementor-element.elementor-element-f11b69d>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-3302 .elementor-element.elementor-element-f11b69d>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 0% 0% 14%
}

.elementor-3302 .elementor-element.elementor-element-a6699ac {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0
}

.elementor-3302 .elementor-element.elementor-element-46b676a>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-3302 .elementor-element.elementor-element-46b676a>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-3302 .elementor-element.elementor-element-53364f9>.elementor-widget-container {
    margin: 0;
    padding: 7px 0 0
}

.elementor-3302 .elementor-element.elementor-element-6a6e769>.elementor-widget-container {
    margin: -43px 0 0;
    padding: 0
}

.elementor-3302 .elementor-element.elementor-element-d47bc4f>.elementor-widget-container {
    margin: -3px 0 0;
    padding: 0
}

.elementor-3302 .elementor-element.elementor-element-a821b42>.elementor-widget-container {
    margin: -33px 0 0;
    padding: 0
}

.elementor-3302 .elementor-element.elementor-element-3c7ff51>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-3302 .elementor-element.elementor-element-3c7ff51>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 0% 0% 2%
}

.elementor-3302 .elementor-element.elementor-element-18c3f9a>.elementor-widget-container {
    margin: 0;
    padding: 7px 0 0
}

.elementor-3302 .elementor-element.elementor-element-00298b3>.elementor-widget-container {
    margin: -24px 0 0;
    padding: 0
}

.elementor-3302 .elementor-element.elementor-element-785d438d:not(.elementor-motion-effects-element-type-background),
.elementor-3302 .elementor-element.elementor-element-785d438d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f7e4d6
}

.elementor-3302 .elementor-element.elementor-element-785d438d {
    border-style: solid;
    border-width: 15px 0 0;
    border-color: #fff;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 0;
    padding: 96px 0 100px
}

.elementor-3302 .elementor-element.elementor-element-785d438d>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-3302 .elementor-element.elementor-element-770bc5c5>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-3302 .elementor-element.elementor-element-770bc5c5>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0% 31%
}

.elementor-3302 .elementor-element.elementor-element-2321ce9d>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-3302 .elementor-element.elementor-element-759e8458>.elementor-widget-container {
    margin: 0;
    padding: 13px 0 0
}

@media(max-width:1024px) {
    .elementor-3302 .elementor-element.elementor-element-7e67afa {
        margin-top: 0;
        margin-bottom: 0;
        padding: 135px 0 102px
    }
    .elementor-3302 .elementor-element.elementor-element-620d450>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-3302 .elementor-element.elementor-element-620d450>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }
    .elementor-3302 .elementor-element.elementor-element-f11b69d>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-3302 .elementor-element.elementor-element-f11b69d>.elementor-element-populated>.elementor-widget-wrap {
        padding: 65px 0 0
    }
    .elementor-3302 .elementor-element.elementor-element-770bc5c5>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0% 10%
    }
}

@media(max-width:767px) {
    .elementor-3302 .elementor-element.elementor-element-7e67afa {
        margin-top: 0;
        margin-bottom: 0;
        padding: 135px 0 106px
    }
    .elementor-3302 .elementor-element.elementor-element-3c7ff51>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-3302 .elementor-element.elementor-element-3c7ff51>.elementor-element-populated>.elementor-widget-wrap {
        padding: 10px 0 0
    }
    .elementor-3302 .elementor-element.elementor-element-770bc5c5>.elementor-element-populated>.elementor-widget-wrap {
        padding: 0
    }
}

@media(min-width:768px) {
    .elementor-3302 .elementor-element.elementor-element-620d450 {
        width: 40%
    }
    .elementor-3302 .elementor-element.elementor-element-f11b69d {
        width: 60%
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-3302 .elementor-element.elementor-element-620d450 {
        width: 100%
    }
    .elementor-3302 .elementor-element.elementor-element-f11b69d {
        width: 100%
    }
}